* {
	background-color:#15642d;
	padding:2px;
	margin:5px;
	border-collapse:collapse;
	position:relative;
	font-size:25px;


}
input, #t01,#t02 {
	background-color:#256438;
}
input.t03 {
	background-color:#546987;
}
#t01 {
	position:relative;
	font-family:Aerial;
}
#t01:after {
	position:absolute;
	top:14px;
	right:10px;
	border:6px solid transparent;
}
a{
	color:darkblue;
}