.contact_container {
  padding-top: 8rem;
}
.contact_container .contact_form {
  display: flex;
  flex-direction: column;
}
.contact_container .contact_form {
  margin: 0 auto !important;
}
.contact_container .contact_form form {
  margin: 0 auto !important;
}
.contact_container .contact_form .contact_info {
  /* background-color: red; */
  padding: 0.4rem 0;
}
.contact_container .contact_form .contact_info label:first-of-type {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
