.home_container{
    background: #fff;
    padding: 5px;
    min-height: 100vh;
}
 .home_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home_container .btn{
    background-color: rgb(224, 124, 124);
    padding: 0.6rem 1rem;
    cursor: pointer;
    border: 2px solid rgb(23, 22, 22);
    border-radius: 4px;
}