.home_container{
    background: #fff;
    padding: 5px;
    min-height: 100vh;
}
 .home_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home_container .btn{
    background-color: red;
}