.home_container{
    background: lightblue;
    padding: 5px;
    min-height: 100vh;
    display: flex
};
.home_container .home_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home_container .left_content{
    display: flex;
    flex-direction: column;
}
.home_container .btn{
    background-color: red;
}