.navbar_container {
  background: rgb(4, 3, 15);
  position: fixed;
  width: 100%;
  display: flex;
  padding: 1rem;
  z-index: 1000;
  justify-content: space-between;
}
.navbar_container .logo .btn {
  cursor: pointer;
  background-color: rgb(15, 142, 165);
  border-radius: 4px;
  font-family: monospace;
  font-weight: bold;
}
.navbar_container a button {
  padding: 0.4rem;
  width: 120px;
}
.navbar_container .navbar_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar_container .navbar_content .navbar_logo {
  margin-bottom: 4px;
  padding: 4px;
}
.navbar_container .navlinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto !important;
}
.navbar_container .navlinks a button {
  padding: 0.4rem;
  margin-left: 20px;
  cursor: pointer;
}
.bars {
  display: none;
}
@media only screen and (max-width: 992px) {
  .navbar_container {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
  }
  .navbar_container .navlinks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: auto !important;
  }
  .bars {
    display: block;
    color: #fff;
  }
  .bars a {
    color: #fff;
  }
  .navlinks {
    display: none !important;
  }
  .mobile-navlinks {
    background-color: #1dbae2;
    display: grid;
    grid-column: 4/5;
    align-items: center;
    width: 100%;
    transition: all 2s linear;
    position: absolute;
    top: 2.4rem;
    left: 0;
    justify-content: center;
    z-index: 1000;
  }
}
@media only screen and (max-width: 714px) {
  .home_content {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
  }
}
