.navbar_container{
    background: #fff;
    position: fixed;
    top: 4rem;
}
.navbar_container .navbar_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar_container .navbar_content .navbar_logo{
    margin-bottom: 4px;
    padding: 4px;
}